<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forum_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/catroid"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.forum_app.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/top_bar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.forum_app.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.forum_app.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.forum_app.ShowPostsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_show_posts" >
        </activity>
		<activity
            android:name="com.example.forum_app.ThreadsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_threads" >
        </activity>
        <activity
            android:name="com.example.forum_app.PostFormActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_post_form" >
        </activity>
    </application>

</manifest>